<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Ver Servicios</ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

<ion-list>
    <ion-item *ngFor="let service of services" (click)="goToService(service.id)">
      <ion-avatar slot="start">
        <img [src]="service.imageUrl" alt="{{service.nombreEmpresa}}" />
      </ion-avatar>
      <ion-label>
        <h2>{{ service.nombreEmpresa }}</h2>
                <p>{{ service.price | currency }}</p>
                <p>{{ service.servicio }}</p>
                <p>{{ service.description }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
