<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Historial de Reseñas</ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div *ngIf="pagedResenas.length > 0; else loading"> -->
    <div *ngIf="pagedResenas.length > 0; else noReviews">

    <ion-list>
      <ion-item *ngFor="let resena of pagedResenas[currentPage]">
        <ion-label>
          <h2 *ngIf="userType === 'cliente'">Servicio: {{ resena.nombreEmpresa }}</h2>
          <h2 *ngIf="userType === 'proveedor'">Cliente: {{ resena.nombreCliente }}</h2>
          <p>{{ resena.comentario }}</p>
          <div class="stars">
            <ion-icon name="star" id="star" *ngFor="let i of createRange(resena.calificacion)"></ion-icon>
          </div>
        </ion-label>
        <ion-button color="danger" (click)="deleteReview(resena.id)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
    <ion-footer>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="previousPage()" [disabled]="currentPage === 0">
            Anterior
          </ion-button>
        </ion-buttons>
        <ion-title>{{currentPage + 1}} / {{pagedResenas.length}}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="nextPage()" [disabled]="currentPage >= pagedResenas.length - 1">
            Siguiente
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-footer>
  </div>
<ng-template #noReviews>
    <div class="no-reviews">
      <p>Aún no hay reseñas</p>
    </div>
  </ng-template>
</ion-content>
